@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

html, body,
ul, li, ol, dl, dd, dt,
p, h1, h2, h3, h4, h5, h6,
form, fieldset, legend, img,
div, header, footer, section, form, input, select{
	font-family: 'Mukta', sans-serif;
}

.healthAndSafety{
    position: relative;
    padding-left: 7vw;
    padding-right: 7vw;
}

.healthTitle{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 4vw;
	font-size: 35px;
	color: black;
}

.healthSubTitle{
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 4vw;
    margin-bottom: 10px;
    font-size: 30px;
    color: black;
}

.beWell{
    color:#595959;
}

.protocals{
    color:black;
}

p, h4, h5{
    display: inline;
}

.beforeTravel{
    display: block;
    width: 100%;
}
.beforeTravelTitle{
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 4vw;
    margin-bottom: 20px;
    font-size: 40px;
    color: black;
}

