
/* BANNER */
.banner{
  margin-top: 130px;
  position: relative;
}
.picture{
  width: 75vw;
  position: relative;
  margin-left: 0;
  z-index: 10;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
}
.title{
  position: absolute;
  color: white;
  display: inline-block;
  height: 80%;
  padding: 4vw;
  margin-left: 3vw;
  top: 50vw;
  color: rgba(45,43,87,1.0) !important;
  text-align: center;
}
.title h1{
  font-size: 10vw;
  font-weight: bolder;
  margin-top: -2vw;
  color: rgba(45,43,87,1.0) !important;
}
.title h4{
  font-size: 2vw;
  font-weight: light;
  opacity: 0.8;
  color: rgba(45,43,87,1.0) !important;
}
.title h3{
  font-size: 6vw;
  color: rgba(45,43,87,1.0) !important;
}
.title span{
  margin-left: 1vw;
}

.bannerBack{
  position: absolute;
  width: 100%;
  height: 25vw;
  background-color: rgba(45,43,87,1.0);
}

/* Latest News */
.news{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 33vw;
}
.news li:hover a{
  color: white;
}

/* CHAIRS */
.chairs{
  width: 100%;
  text-align: center;
  margin-top: 10vw;
}
.chairTitle{
  font-size: 5vw;
}
.chairProf{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vw;
}
.chairProf img{
  width: 30vw;
}
.chairProf section~section{
  margin-left: 10vw;
}
.chairProf p{
  display: flex;
  justify-content: center;
}
.chairProf section{
  font-size: 2vw;
}
.ProfName{
  font-weight: bolder;
  font-size: 2.5vw;
  padding-top: 1vw;
}
.ProfAff{
  opacity: 0.7;
  margin-top: -3vw;
}
.ProfTitle{
  margin-top: -3vw;
}

/* INFO */

.info{
  width: 100%;
  display: block;
  position: relative;
  margin-top: 6vw;
  padding-bottom: 3vw;
}
.highlights{
  width: 100%;  
  padding-left: 5%;
}
.highlights li{
  font-size: 3vw;
  line-height: 5vw;
  list-style: square;
  padding: 2vw;
}

.highlights li:hover{
  background-color: rgba(45,43,87,0.7);
  color: white;
  transition-duration: 0.5s;
}
.gallery{
  padding-left: 20%;
  margin-top: 5vw;
}
.gallery p{
  margin-left: -20%;
}
.gallery .slide{
  width: 60vw;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
}
.carousel-item img{
  width: 60vw;
  height: 35vw;
}
.info section p{
  font-size: 5vw;
  text-align: center;
}

