@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

html, body,
ul, li, ol, dl, dd, dt,
p, h1, h2, h3, h4, h5, h6,
form, fieldset, legend, img,
div, header, footer, section, form, input, select{
	font-family: 'Mukta', sans-serif;
}

.regAll a{
	color: rgba(110,172,218,1);
	text-decoration: none;
}

.regAll a:hover{
	text-decoration: underline;
}

.regAll{
	position: relative;
	padding-left: 7vw;
	padding-right: 7vw;
}

.regTitle{
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 4vw;
	font-size: 35px;
	color: black;
}
.regTable{
	width: 84vw;
	font-size:17px;
	overflow-x: scroll;
	padding-left: 2vw;
}
.regTable p{
	font-size: 24px;
}
.regTable td{
	border: 1px solid black;
	padding-top:.4vw;
	padding-bottom:.4vw;
}
.regTable tr{
	border: 1px solid black;
}

.regTable table{
	border-collapse: collapse;
	text-align: center;
	width: 80vw;

}
.blankRow{
	height: 20px !important;
}
.tableTitle{
	font-weight: 1000;
	font-size: 19px;
}
.regLink{
	margin-top: 40px;
	text-align: center;
	padding-bottom: 40px;
}
.regLink a{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 1000;
	background-color: rgba(110,172,218,1);;
	color: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	border-radius: 10px;
}
