/* COLOR USED */
rgba(45,43,87,1);

html, body,
ul, li, ol, dl, dd, dt,
p, h1, h2, h3, h4, h5, h6,
form, fieldset, legend, img,
div, header, footer, section, form, input, select{
	font-family: 'Mukta', sans-serif;
}


/* NAVIGATION */



header{
  width: 100%;
  top: 0;
  position: fixed;
  padding-top: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background: white;
  border-bottom: 1px double rgba(45,43,87,0.2);
  z-index: 1000;
}
.logo{
	margin-left: 6vw;
	text-decoration: none;
}

.logo span{
	position: relative;
	font-size: 16px;
	margin-left: 3vw;
	top: 5px;
	color: black;
	letter-spacing: 1px;
}

.nav{
  position: relative;
  left: -10vw;
}

.nav a{
  text-decoration: none;
  position: relative;
  top: 19px;
  color: black;
  margin-left: 3vw;
}



/* FOOTER */
footer{
	bottom: 0;
	width: 100%;
	display: flex;
	background-color: rgb(23,23,23);
	color: white;
	padding: 2vw;
	justify-content: space-between;
}
footer a{
	color: white;
	text-decoration: none;
}
footer a:hover{
	text-decoration: underline;
	color: white;
}
.footerLogo{
	margin-left: 4vw;
}
.footerLogo img{
	width: 12vw;
}
.claim{
	display: flex;
	font-size: 0.9vw;
	align-items: center;
}
.claim span~span{
	margin-left: 0.5vw;
}