.tutorialSpeakerTitle{
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

h1{
    font-family:'Mukta', sans-serif;
    font-size: calc(1.375rem + 1.5vw);
}

h4{
    font-family:'Mukta', sans-serif;
    font-size: calc(1.375rem);  
}

.list-group{
    display:inline-block;
    min-width: 500px;
 }

.list-group-item{
    margin-bottom: 2vw;
    border-top: 10px;
}

.a, .a:link, .a:visited{
    color:green;
    text-decoration: none; 
}